DATABASE_URL="postgresql://aquaflow:aquaflow_local@localhost:5432/aquaflow?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""
SEED_ADMIN_EMAIL="admin@aquaflow.local"
SEED_ADMIN_PASSWORD=""
NEXT_PUBLIC_DEMO="false"
