DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
NEXTAUTH_URL="https://aquaflow-gestao.vercel.app"
NEXTAUTH_SECRET=""
SEED_ADMIN_EMAIL="admin@duchaelitte.local"
SEED_ADMIN_PASSWORD=""
NEXT_PUBLIC_DEMO="false"
